@require "normalize.styl"
@require "codemirror.css"
@require "codemirror-3024-day.css"

.cells
  display flex
  flex-wrap wrap
  font-family monospace
  margin 15px

.cell
  width 250px
  height 120px
  margin 15px
  display inline-block

.cell-source, .cell-value
  width 100%
  height 100%
  //border 15px solid #eee
  display flex
  box-sizing border-box

.cell-value
  word-break break-word
  white-space pre-wrap

.CodeMirror
  display flex
  //flex-direction column
  flex 1

.CodeMirror-scroll
  flex 1
  height auto

.cm-s-3024-day.CodeMirror
  background white
  margin-left -7px
  margin-top -4px

.cell
  position relative
  cursor text
  overflow hidden
.cell-meta
  font-size: 12px
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  height 14px
  margin-bottom 4px
.cell-value
 > div:first-child
   width 100%
.show-formula
  color rgb(186,186,186)
  &:hover
    color rgb(0, 164, 255)
    cursor pointer


.touch-btn
  .cell-value
    display block
    font-size: 40px
    line-height 115px
    text-align center
    background: #f9f9f9
    cursor: pointer
    transition 0.1s all linear
    color #ddd
    font-size 65px

    &:hover
      font-size 95px


div.CodeMirror
  .cm-string
    color #FD6F02
  .CodeMirror-matchingbracket
    background rgba(0, 164, 255, 0.17) //#FFFF77
    padding-bottom 2px
    text-decoration none
    //font-weight bold
    //color #DB2D20 !important
    color black !important
  .cm-cell
    color rgb(255, 91, 0)
    background-color rgb(255, 234, 195)
    padding 0 7.80127px
  .cm-number
    color #FF00C3

  .cm-keyword
    color #FF0000
.legend-bracket
  color #ddd
  font-size 16px
.function-legend
  background: #f9f9f9
  vertical-align top
  display: inline-block
  margin: 0 10px 10px 0
  white-space: pre-wrap
  padding: 10px
  color: #aaa
  font-size: 14px
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  












