@require "normalize.styl"
@require "codemirror.css"
@require "codemirror-3024-day.css"

.cells
  display flex
  flex-wrap wrap
  font-family monospace
  margin 15px

.cell
  width 250px
  height 120px
  margin 15px
  display inline-block

.cell-source, .cell-value
  width 100%
  height 100%
  //border 15px solid #eee
  display flex
  box-sizing border-box

.cell-value
  padding 5px 4px
  word-break break-word
  white-space pre-wrap

.CodeMirror
  display flex
  //flex-direction column
  flex 1

.CodeMirror-scroll
  flex 1
  height auto

.cm-s-3024-day.CodeMirror
  background white
  margin-left -3px
  padding-top 1px

.cell
  position relative
  cursor text

.cell-value
 > div:first-child
   margin -5px
   width 100%

.touch-btn
  font-size: 40px
  width 120px
  height 120px
  box-sizing border-box
  line-height 115px
  text-align center
  background: #efefef
  display: inline-block
  margin: 15px 30px
  cursor: pointer
  transition 0.1s all linear
  &:hover
     font-size 65px
